html {
	box-sizing: content-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: "Tiro Bangla", serif;
	font-size: large;
	margin: 0 auto;
	padding: 0;
}
h2 {
	font-family: "Tiro Devanagari Hindi", serif;
	font-size: 50px;
	padding: 10px 0;
	margin: 0;
}
h3 {
	font-family: "Noto Serif Georgian", serif;
	font-size: 30px;
	padding: 10px 0;
	margin: 0;
}

/* <!------------------ Introduction about myself--------------------------> */
.wrap-intro {
	background-color: #2f3061;
	color: white;
	text-align: center;
}
.intro {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	padding: 120px 0;
}
.intro h2 {
	font-size: 110px;
	font-family: "Tangerine", cursive;
	padding-bottom: 10px;
	margin: 0;
}
.intro p {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
	margin: 0;
}
/* <!-------------------------- Experience -------------------------------> */

.wrap-experience {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
/* .experience {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 20px;
} */
/* <!---------------------------- Education -------------------------------> */

.wrap-education {
	background-image: url(../personal/education.jpg);
	background-size: cover;
	background-position: top right;
	padding: 60px 0;
}
.education {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	padding: 60px 0;
}
.school p {
	margin-bottom: 0;
}

/* <!---------------------------- Footer - Contact  -------------------------------> */
.wrap-contact {
	padding: 60px 0;
	background: #343434;
	color: #f7fff7;
	text-align: center;
}
.contact {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
.contact h3 {
	font-family: "Courgette", cursive;
	font-size: 45px;
	font-weight: 400;
}
.contact-list a {
	padding: 15px;
}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: yellow;
}
/* <!------------------------------ End  ---------------------------------> */
@media screen and (min-width: 751px) {
	.experience {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 50px;
	}
	.contact-list {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 750px) and(min-width :400px) {
	.contact-list a {
		padding: 10px;
		display: block;
	}
}
@media screen and (max-width: 751px) {
}
