html {
	box-sizing: content-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: "Caveat", cursive;
	margin: 0 auto;
	padding: 0;
	margin: 0;
}
h2 {
	font-family: "Tangerine", cursive;
	font-size: 60px;
	font-weight: 900px;
	padding: 10px 0;
	margin: 0;
}
h3 {
	font-family: "Caveat", cursive;
	/* font-family: "Dancing Script", cursive; */
	/* font-family: "Montserrat", sans-serif; */
	font-size: 30px;
	font-weight: 900px;
	padding: 10px 0;
	margin: 0;
}

/* <!------------------ Introduction about myself--------------------------> */
.wrap-intro {
	background-color: #2f3061;
	color: white;
	text-align: center;
}
.intro {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
}
.intro h2 {
	font-size: 110px;
	font-family: "Tangerine", cursive;
	padding-bottom: 10px;
	margin: 0;
}
.intro p {
	font-family: "Dancing Script", cursive;
	font-size: 40px;
	margin: 0;
}
/* <!-------------------------- Experience -------------------------------> */

.wrap-experience {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
.experience {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 20px;
}
/* <!---------------------------- Education -------------------------------> */

.wrap-education {
	background-image: url(../education.jpg);
	background-size: cover;
	background-position: top right;
	padding: 60px 0;
}
.education {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	padding: 60px 0;
}
.school p {
	margin-bottom: 0;
}

/* <!---------------------------- Footer - Contact  -------------------------------> */
.wrap-contact {
	margin: 0;
	padding: 60px 0;
	background: #343434;
	color: #f7fff7;
	text-align: center;
}
.contact {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
	padding: 60px 0;
}
.contact h3 {
	font-size: 45px;
	font-family: "Caveat", cursive;
	font-weight: 400;
	margin: 0;
}
.contact-list {
	list-style-type: none;
}
.contact-list a {
	padding: 15px;
	display: inline-block;
}
a:visited {
	color: white;
}
a:hover {
	color: yellow;
}
/* <!------------------------------ End  ---------------------------------> */
@media screen and (min-width: 750px) {
	.contact-list {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 749px) {
	.contact-list a {
		padding: 5px;
	}
}
